<div>
  Servicios Médicos
</div>
<div class="row">

  <div class="col-sm">
    <div id="accordion" class="accordion-style">
      <div class="card">
        <div class="card-header" id="card-accordion-style" id="headingOne">
          <h5 class="mb-0">
            <button id="button-link-accordion" class="btn btn-link collapsed" data-toggle="collapse"
              data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Cardiología Clínica
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            @foreach (var medico in ViewBag.CardiologiaClinica)
            {
              <div>@medico.NombreYApellido - @medico.RolEnEspecialidad</div>
            }
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="card-accordion-style" id="headingTwo">
          <h5 class="mb-0">
            <button id="button-link-accordion" class="btn btn-link collapsed" data-toggle="collapse"
              data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Cardiología Intervencionista
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            @foreach (var medico in ViewBag.CardiologiaIntervencionista)
            {
              <div>@medico.NombreYApellido - @medico.RolEnEspecialidad</div>
            }

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="card-accordion-style" id="headingThree">
          <h5 class="mb-0">
            <button id="button-link-accordion" class="btn btn-link collapsed" data-toggle="collapse"
              data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Cirugía Cardiovascular
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            @foreach (var medico in ViewBag.CirugiaCardiovascular)
            {
              <div>@medico.NombreYApellido - @medico.RolEnEspecialidad</div>
            }
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="card-accordion-style" id="headingFour">
          <h5 class="mb-0">
            <button id="button-link-accordion" class="btn btn-link collapsed" data-toggle="collapse"
              data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Cardiología Pediátrica
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            @foreach (var medico in ViewBag.CardiologiaPediatrica)
            {
              <div>@medico.NombreYApellido - @medico.RolEnEspecialidad</div>
            }
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="card-accordion-style" id="headingFive">
          <h5 class="mb-0">
            <button id="button-link-accordion" class="btn btn-link collapsed" data-toggle="collapse"
              data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Gastroenterología
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
            @foreach (var medico in ViewBag.Gastroenterologia)
            {
              <div>@medico.NombreYApellido - @medico.RolEnEspecialidad</div>
            }
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="card-accordion-style" id="headingSix">
          <h5 class="mb-0">
            <button id="button-link-accordion" class="btn btn-link collapsed" data-toggle="collapse"
              data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Cirugía Toracica
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body">
            @foreach (var medico in ViewBag.CirugiaToracica)
            {
              <div>@medico.NombreYApellido - @medico.RolEnEspecialidad</div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm">
    <div id="accordion" class="accordion-style">
      <div class="card">
        <div class="card-header" id="card-accordion-style" id="headingOne">
          <h5 class="mb-0">
            <button id="button-link-accordion" class="btn btn-link collapsed" data-toggle="collapse"
              data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Cirugía de Columna
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            @foreach (var medico in ViewBag.CirugiaColumna)
            {
              <div>@medico.NombreYApellido - @medico.RolEnEspecialidad</div>
            }
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="card-accordion-style" id="headingTwo">
          <h5 class="mb-0">
            <button id="button-link-accordion" class="btn btn-link collapsed" data-toggle="collapse"
              data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Cirugía General
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            @foreach (var medico in ViewBag.CirugiaGeneral)
            {
              <div>@medico.NombreYApellido - @medico.RolEnEspecialidad</div>
            }

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="card-accordion-style" id="headingThree">
          <h5 class="mb-0">
            <button id="button-link-accordion" class="btn btn-link collapsed" data-toggle="collapse"
              data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Cirugía Plástica y Reparadora
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            @foreach (var medico in ViewBag.CirugiaPlastica)
            {
              <div>@medico.NombreYApellido - @medico.RolEnEspecialidad</div>
            }
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="card-accordion-style" id="headingFour">
          <h5 class="mb-0">
            <button id="button-link-accordion" class="btn btn-link collapsed" data-toggle="collapse"
              data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Ginecología
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            @foreach (var medico in ViewBag.Ginecologia)
            {
              <div>@medico.NombreYApellido - @medico.RolEnEspecialidad</div>
            }
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="card-accordion-style" id="headingFive">
          <h5 class="mb-0">
            <button id="button-link-accordion" class="btn btn-link collapsed" data-toggle="collapse"
              data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Hematología
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
            @foreach (var medico in ViewBag.Hematologia)
            {
              <div>@medico.NombreYApellido - @medico.RolEnEspecialidad</div>
            }
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="card-accordion-style" id="headingSix">
          <h5 class="mb-0">
            <button id="button-link-accordion" class="btn btn-link collapsed" data-toggle="collapse"
              data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Nefrología
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body">
            @foreach (var medico in ViewBag.Nefrologa)
            {
              <div>@medico.NombreYApellido - @medico.RolEnEspecialidad</div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm">
    <div id="accordion" class="accordion-style">
      <div class="card">
        <div class="card-header" id="card-accordion-style" id="headingOne">
          <h5 class="mb-0">
            <button id="button-link-accordion" class="btn btn-link collapsed" data-toggle="collapse"
              data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Neumonología
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            @foreach (var medico in ViewBag.Neumonologia)
            {
              <div>@medico.NombreYApellido - @medico.RolEnEspecialidad</div>
            }
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="card-accordion-style" id="headingTwo">
          <h5 class="mb-0">
            <button id="button-link-accordion" class="btn btn-link collapsed" data-toggle="collapse"
              data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Oncología
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            @foreach (var medico in ViewBag.Oncologia)
            {
              <div>@medico.NombreYApellido - @medico.RolEnEspecialidad</div>
            }

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="card-accordion-style" id="headingThree">
          <h5 class="mb-0">
            <button id="button-link-accordion" class="btn btn-link collapsed" data-toggle="collapse"
              data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Ortopedia y Traumatología
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            @foreach (var medico in ViewBag.Traumatologia)
            {
              <div>@medico.NombreYApellido - @medico.RolEnEspecialidad</div>
            }
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="card-accordion-style" id="headingFour">
          <h5 class="mb-0">
            <button id="button-link-accordion" class="btn btn-link collapsed" data-toggle="collapse"
              data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Otorrinolaringología
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            @foreach (var medico in ViewBag.Otorrinolaringologia)
            {
              <div>@medico.NombreYApellido - @medico.RolEnEspecialidad</div>
            }
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="card-accordion-style" id="headingFive">
          <h5 class="mb-0">
            <button id="button-link-accordion" class="btn btn-link collapsed" data-toggle="collapse"
              data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Urología
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
            @foreach (var medico in ViewBag.Urologia)
            {
              <div>@medico.NombreYApellido - @medico.RolEnEspecialidad</div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>